*{
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    box-sizing: border-box;
}
.intro{
    background-color:blue;
}
h1{
    color: mediumvioletred;

}
h2{
    color: mediumvioletred;
}
.nature{
    padding:20px 100px;
}

button{
    font-size: larger;
    border: none;
    padding: 12px;

    color: white;
    background-color: mediumvioletred;
}
.bottom{
    padding-top: 20px;
}
.next{
    text-align: center;
    padding: 15px;
    color: white;

}
.next:hover{
    border-radius: 10px 10px;
}

button:hover{
    transform:scale(1.3);
    border-radius: 10px 20px;
}
h1:hover{
    transition-duration: 5s;
    transition-delay: 1s;
    transform: scale(1.3);
}
.home{
    text-align: center;
    padding-top: 40px;
}